*{
    box-sizing: border-box;
}
body{
    -background: rgb(178, 177, 218);
}
section, div{
    -outline: 1px solid rgb(0, 0, 0);
}
.container{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*Шапка сайта*/
.main-header{
    margin-bottom: 60px;
}
.header-container{
    display: flex;
}
.header-logo{
    width: 140px;
}
.main-navigation{
    width: 700px;
    font-size: 0;

}
.main-navigation li{
    display: inline-block;
    font-size: 14px;
}
.user-block{
    width: 90px;
    margin-left: auto;
}
/*Содержимое сайта */
.main-logo{
    margin: 0 auto;
    width: 371px;
    margin-bottom: 60px;
}
.features{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between
}
.features-item{
    font-size: 14px;
    width: 300px;
}
.index-content{
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 36px;
}
.index-content-left{
    width: 380px;
}
.index-content-right{
    width: 300px;
}
.breadcrumbs ul {
    font-size: 0;
}
.breadcrumbs ul li{
    display: inline-block;
    font-size: 14px;
}
.product-content{
    display: flex;
    justify-content: space-between;
}
.product-content-left{
    width: 460px;
}
.product-content-right{
    width: 400px;
}
.product-images{
    font-size: 0;
}
.product-images .img-prev{
    margin-right: 20px;
    display: inline-block;
}
.product-images .img-prev:last-child{
    margin-right: 0;
}
.price-info{
    display: flex;
    justify-content: space-between;
}
.price-info-left{
    width: 400px;
}
.price-info-right{
    width: 460px;
}
.about-us-content{
    display: flex;
}
.about-us-content p{
    width: 400px;
}
.about-us-content p:last-child{
    margin-left: auto;
    width: 460px;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products-container h1{
    flex-basis: 100%;
}
.products-container .breadcrumbs{
    flex-basis: 100%;
}
.sidebar{
    width: 220px;
}
.sidebar label{
    display: block;
}
.products{
    width: 700px;
    font-size: 0px;
}
.products-item{
    font-size: 14px;
    display: inline-block;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.products-item:nth-child(3n){
    margin-right: 0;
}
.product-info{
    display: flex;
    justify-content: space-between;
}
figure,p{
    margin: 0;
}
.appointment-form label{
    display: block;
}
.appointment-form input{
    width: 100%;
}
.appointment-form .form-item{
    width: 48%;
}
.form-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price-table{
    width: 100%;
}
/*Подвал сайта*/
.main-footer{
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer-container{
    display: flex;
}
.footer-contacts{
    width: 320px;
    margin-right: 60px;
}
.footer-social{
    width: 180px;
}
.footer-copyright{
    margin-left: auto;
    width: 180px;
}
/*Всплывающие окна*/
.login-form{
    width: 300px;
    margin: 0 auto;
}
.map{
    margin: 0 auto;
    width: 765px;
}
