*{
    box-sizing: border-box;
}
body{
    background: rgb(245, 242, 237);
    margin: 0;
    color: #000;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}
.main-page{
    background: url("../img/main-background.jpg") #070707 no-repeat;
    color: #fff;
}
.container{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
/*Шапка сайта*/
.main-header{
    background: #000;
    margin-bottom: 60px;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    width: 151px;
    display: flex;
    align-items: center;
}
.header-logo a{
    margin-left: 20px;
}
.main-navigation{
    width: 700px;
    font-size: 0;

}
.main-navigation ul{
    padding: 0;
}
.main-navigation li{
    display: inline-block;
    font-size: 14px;
    padding: 25px 20px;
}
.main-navigation li:hover{
    background: #242424;
}
.main-navigation a.active {
    padding-bottom: 21px;
    border-bottom: 4px solid #fff;
}
.main-header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
}
.user-block{
    width: 110px;
    padding:25px 0 25px 54px;
    position: relative;
    
}
.user-block:hover{
    background: #242424;
}
.user-block:hover::before{
    opacity: 1;
}
.user-block::before{
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    background: url(../img/icons.png);
    background-position: 0px -82px;
    position: absolute;
    left: 25px;
    top: 30px;
    opacity: 0.3;
}
/*Содержимое сайта */
.main-logo{
    margin: 0 auto;
    width: 360px;
    margin-bottom: 67px;
}
.features{
    display: flex;
    margin-bottom: 78px;
    justify-content: space-between
}
.features-item{
    width: 300px;
}
.features-item p{
    padding: 0 5px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;

}
.features-name{
    position: relative;
    padding-bottom: 60px;
    font-size: 30px;
    line-height: 42px;
    display: flex;
    justify-content: center;
}
.features-name::before{
    content:"";
    display: block;
    background: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);  
    top:53px;
}
.index-content{
    background: url("../img/shadow.png") no-repeat center, #f8f5f2
                 url("../img/bg-index.jpg");
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 45px 80px;
    margin-bottom: 36px;
    padding-bottom: 50px;
}
.list-news li{
    margin-bottom: 25px;
}
.index-content ul{
    padding: 0;
    list-style: none;
    margin-bottom: 32px;
}
.index-content a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.1px;
}
.index-content time{
    display: block;
    text-transform: lowercase;
}
a.btn{
    color: #fff;
    text-decoration: none;
}
.btn:hover, .btn:active{
    background: #663d15;
}
.btn-box{
    width: 100%;
}
.btn{
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 33px;
    cursor: pointer;
    font-size: 14px;
}
.btn-group{
    display: flex;
    justify-content: space-between;
}
.index-content-left{
    width: 380px;
}
.txt-caption{
    font-size: 30px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 20px;
}
.gallery-content{
    line-height: 0;
    border: 7px solid rgb(255, 255, 255);
    margin-bottom: 38px;
    margin-top: 22px;
}
.gallery .btn{
    width: 140px;
    padding: 13px 33px;
}
.contact-info{
    padding-right: 35px;
}
.contact-info .txt-caption{
    line-height: 40px;
    letter-spacing: 0.2px;
}
.contact-info p{
    margin-bottom: 20px;
    line-height: 24px;
}
.contact-info .btn-group{
    padding-right: 45px;
    margin-top: 22px;
}
.contact-info .btn{
    width: 140px;
    padding: 10px 0;
    text-align: center;
}
.index-content-right{
    width: 300px;
}
.breadcrumbs{
    margin-bottom: 55px;
}
.breadcrumbs ul {
    font-size: 0;
    padding: 0;
}
.breadcrumbs a{
    color: #000;
    text-decoration: none;
}
.breadcrumbs ul li{
    display: inline-block;
    font-size: 14px;
    margin-right: 24px;
    position: relative;
    padding-right: 24px; 

}
.breadcrumbs ul li:after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #000;
    transform: rotate(45deg);
    position: absolute;
    right: -5px;
    top: 3px;
}
.breadcrumbs ul li:last-child{
    color: #aba9a7;
}
.breadcrumbs ul li:last-child:after{
    content: "";
    display: none;
  
}
.product-img img, .img-prev img{
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
    margin-bottom: 20px;
}
.product-cart .btn-buy{
    text-align: left;
}
.btn-buy{
    text-align: center;
    margin-bottom: 15px;
}
.btn-buy .btn{
    padding: 10px 20px;
}
.price{
    background: #e5e5e5;
    display: inline-block;
    padding: 10px 33px;
    margin-right: -4px;
}
.product-info{
    margin-bottom: 40px;
}
.vendor-code{
    color: #aba9a7;
}
.product-descriotion{
    margin-bottom: 40px;
}
.kit-caption{
    margin: 65px 0 30px 0;
}
.kit-list{
    list-style: none;
    padding: 0;
}
.kit-list li{
    position: relative;
    padding-left: 20px; 
    line-height: 24px;
}
.kit-list li::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #000;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 7px;
}
.brand-list{
    list-style: none;
    padding: 0;
}
.brand-list a{
    text-decoration: none;
    color: #000;
    margin-bottom: 15px;
}
.brand-list li{
    position: relative;
    padding-left: 20px; 
    line-height: 24px;
    margin-bottom: 15px;
}
.brand-list li::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #000;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 7px;
}
.product-content{
    display: flex;
    justify-content: space-between;
}
.lg-txt{
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative
}
.lg-txt::before,.lg-txt::after{
    display: block;
    position: absolute;
    content: "";
    width: 160px;
    height: 2px;
    top:26px;
    background: #000;
}
.lg-txt::before{
    left: 0;
}
.lg-txt::after{
    right: 0;
}
.product-content-left{
    width: 460px;
}
.product-content-right{
    width: 400px;
}
.product-images{
    font-size: 0;
}
.product-images .img-prev{
    margin-right: 20px;
    display: inline-block;
}
.product-images .img-prev:last-child{
    margin-right: 0;
}
.price-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.price-info-left{
    width: 400px;
}
.price-info-right{
    width: 460px;
}
.about-us-content{
    display: flex;
}
.about-us-content p{
    width: 400px;
}
.about-us-content p:last-child{
    margin-left: auto;
    width: 460px;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products-container h1{
    flex-basis: 100%;
}
.products-container .breadcrumbs{
    flex-basis: 100%;
}
.sidebar{
    width: 220px;
}
.sidebar label{
    position: relative;
    display: block;
    padding: 9px 0;
    padding-left: 45px;
    
}
.sidebar fieldset{
    border:none;
}
.sidebar legend{
    font-size: 21px;
}

.chbx-label{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    top: 10px;
    left: 0;
}
.rd-label{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    top: 10px;
    left: 0;
    border-radius: 50%;
}
.sidebar input{
    display: none;
}

.sidebar #brand-1:checked ~ label[for="brand-1"] .chbx-label::before, 
.sidebar #brand-1:checked ~ label[for="brand-1"] .chbx-label::after,
.sidebar #brand-2:checked ~ label[for="brand-2"] .chbx-label::before, 
.sidebar #brand-2:checked ~ label[for="brand-2"] .chbx-label::after,
.sidebar #brand-3:checked ~ label[for="brand-3"] .chbx-label::before, 
.sidebar #brand-3:checked ~ label[for="brand-3"] .chbx-label::after,
.sidebar #brand-4:checked ~ label[for="brand-4"] .chbx-label::before, 
.sidebar #brand-4:checked ~ label[for="brand-4"] .chbx-label::after,
.sidebar #brand-5:checked ~ label[for="brand-5"] .chbx-label::before, 
.sidebar #brand-5:checked ~ label[for="brand-5"] .chbx-label::after,
.sidebar #brand-6:checked ~ label[for="brand-6"] .chbx-label::before, 
.sidebar #brand-6:checked ~ label[for="brand-6"] .chbx-label::after{
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: #000;
    position: absolute;
    transform: rotate(45deg);
    top: 7px;
    left: 0;
    border-radius: 3px;
}
.sidebar #brand-1:checked ~ label[for="brand-1"] .chbx-label::after,
.sidebar #brand-2:checked ~ label[for="brand-2"] .chbx-label::after,
.sidebar #brand-3:checked ~ label[for="brand-3"] .chbx-label::after,
.sidebar #brand-4:checked ~ label[for="brand-4"] .chbx-label::after,
.sidebar #brand-5:checked ~ label[for="brand-5"] .chbx-label::after,
.sidebar #brand-6:checked ~ label[for="brand-6"] .chbx-label::after{
    transform: rotate(-45deg);
}
.sidebar #gr-1:checked ~ label[for="gr-1"] .rd-label::before,
.sidebar #gr-3:checked ~ label[for="gr-3"] .rd-label::before,
.sidebar #gr-2:checked ~ label[for="gr-2"] .rd-label::before{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}
.products{
    width: 700px;
    font-size: 0px;
}
.products-item{
    vertical-align: top;
    font-size: 14px;
    display: inline-block;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
    line-height: 18px;
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}
.products-item a:not(.btn){
    color: #000;
    text-decoration: none;
}
.products-item:hover{
    box-shadow: 3.2px 3.8px 25px rgba(0, 1, 1, 0.3);
}

.products-item .product-name{
    margin-left: 15px;
    margin-bottom: 15px;
}
.products-list{
    margin-bottom: 45px;
}
.products-list .product-img img{
    margin-bottom: 15px;
    box-shadow: none;
}
.name{
    display: block;
}
.products-item:nth-child(3n){
    margin-right: 0;
}
.product-info{
    display: flex;
    justify-content: space-between;
}
figure,p{
    margin: 0;
}
.appointment-form label{
    display: block;
}
.appointment-form input{
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #000;
    background: #f9f6f3;
}
.appointment-form input:focus{
    border: 2px solid #663d15;
    outline: none;
}
.appointment-form .form-item{
    width: 140px;
    margin-bottom: 12px;
}
.form-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 24px 0;
    margin-bottom: 7px;
}
.form-block label{
    margin-bottom: 10px;
    margin-left: 18px;
}
.appointment-form .btn{
    line-height: 24px;
}
.price-table{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse
}
.price-table td{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 30px;
}
.price-table td:nth-child(2n){
    text-align: right;
}
.pagination ul{
    padding: 0;
}
.pagination li{
    display: inline-block;
    margin-left: 8px;
}
.pagination li:first-child{
    margin-left: 0;
}
.pagination li .btn{
    padding: 10px 18px;
}
.pagination li a.active{
    background: #fff;
    color: #000;
}
/*Подвал сайта*/
.main-footer{
    color: #fff;
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #252525;
    font-size: 14px
}
.footer-container{
    display: flex;
}
.footer-contacts{
    width: 320px;
    margin-right: 63px;
}
.footer-contacts p{
    margin-bottom: 7px;
}
.footer-social{
    width: 180px;
    text-align: center
}
.footer-social p{
    margin-bottom: 4px;
}
.social-btn{
    font-size: 0;
    padding: 0;
    width: 46px;
    height: 46px;
}
.footer-contacts a{
    color: #fff;
    display: block;
    margin-bottom: 7px;
}
.footer-copyright{
    margin-left: auto;
    text-align: center;
    width: 140px;
}
.footer-copyright .btn{
    padding: 10px 20px;
}
.footer .social-btn{
    background: #000;
}
.social-btn-vk{
    background: rgb(0, 0, 0) url(../img/vk.png) no-repeat center;
}
.social-btn-vk:hover{
    background: rgb(255, 255, 255) url(../img/vk_b.png) no-repeat center;
}
.social-btn-fb{
    background: rgb(0, 0, 0) url(../img/facebook.png) no-repeat center;
}
.social-btn-inst{
    background: rgb(0, 0, 0) url(../img/instagram.png) no-repeat center;
}
.social-btn-fb:hover{
    background: rgb(255, 255, 255) url(../img/facebook_b.png) no-repeat center;
}
.social-btn-inst:hover{
    background: rgb(255, 255, 255) url(../img/instagram_b.png) no-repeat center;
}
.footer-copyright p{
    margin-bottom: 20px;
}
.footer-copyright .btn:hover{
    background: #fff;
    color: #000;
}
/*Всплывающие окна*/
.login-form{
    width:460px;
    margin: 0 auto;
    background: #fff;
    padding: 60px 80px;
    color: #000;
    position: fixed;
    z-index: 3;
    top:50px;
    left:50%;
    margin-left: -230px;
    
}
.login-form p{
    margin-bottom: 15px;
}
.login-form input{
    border: 2px solid #000;
    width: 300px;
    margin-bottom: 9px;
    line-height: 39px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: bold;
}
.login-save{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.login-save input{
    display: none;
}
.login-save label{
    padding-left: 30px;
    position: relative;
}
.login-save .form-chbx{
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    top: 0;
    left: 0;

}
.login-save a{
    color:#000;
}
.login-save #save-me:checked ~ label[for="save-me"] .form-chbx::before,
.login-save #save-me:checked ~ label[for="save-me"] .form-chbx::after{
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    border-radius: 3px;
    background: #000;
    top:7px;
    left: 0;
    transform: rotate(45deg);
}
.login-save #save-me:checked ~ label[for="save-me"] .form-chbx::after{
    transform: rotate(-45deg);
}
.close{
	font-size: 0;
    width: 0;
    border: none;
    height: 0;
    background: transparent;
    position: absolute;
	top: 7px;
	right: -40px;
	outline: none;
}
.close::before, .close::after{
	content: "";
	display: block;
	position: absolute;
	width: 25px;
	height: 5px;
	background: #d0d0d0;
	top: 10px;
    right: 5px;
	border-radius: 2px;
	transform: rotate(45deg);
}
.close::after{
	transform: rotate(-45deg);
}
.map{
    margin: 0 auto;
    width: 765px;
}
.bg-popup{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.678);
}